@model ETicaret.Models.SatisHareket

@{
    ViewBag.Title = "Create";
}
 

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SatisHareket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  
        <div class="form-group">
            @Html.LabelFor(model => model.Adet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control disabled" name="Adet" value="0"  id="val2" onkeyup="sum()" />
                @Html.ValidationMessageFor(model => model.Adet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fiyat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control disabled" name="Fiyat" value="@ViewBag.Fiyat" readonly id="val1"  />
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToplamTutar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control disabled" name="ToplamTutar" value="0" readonly id="val3" />
                @Html.ValidationMessageFor(model => model.ToplamTutar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrunId, "UrunId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@ViewBag.UrunId" readonly class="form-control disabled" name="UrunId" />
                @Html.ValidationMessageFor(model => model.UrunId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CariId, "CariId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CariId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CariId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonelId, "PersonelId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PersonelId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PersonelId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>

 

<script>
    function sum() {
        var sayi1 = document.getElementById("val1").value;
        var sayi2 = document.getElementById("val2").value;
        var toplam = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(toplam)) {
            document.getElementById("val3").value = toplam;
        }

    }
</script>