@model ETicaret.Models.Urun

@{
    ViewBag.Title = "UrunDetay";
}

<div class="">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="~/Images/@Model.UrunGorsel" class="img img-fluid" height="400" width="400" style="height:100%;" />

            </div>
        </div>
        <div class="col-md-6">
            <h4>Urun</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kategori.KategoriAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UrunAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrunAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Marka)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Marka)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Stok)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stok)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AlısFiyat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AlısFiyat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SatısFiyat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SatısFiyat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Durum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Durum)
                </dd>



            </dl>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                        Detaylar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                        Ekstra
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                        Satışlar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">
                        Yorumlar
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    @Model.Detay
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    @Model.Ekstra
                </div>


                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    @Html.Partial("_SatısHareket",Model.SatisHarekets.ToList())
                
                </div>
                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="profile-tab">
                    @Model.Ekstra
                </div>

            </div>
        </div>
    </div>
</div>


 
