@model ETicaret.Models.SatisHareket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SatisHareket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cari.CariAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari.CariAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel.PersonelAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.PersonelAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urun.UrunAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urun.UrunAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SatisId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
